/*----------------------------------------------------------1540PX---------------------------------------------------------------------*/
@media screen and (max-width: 1540px){
    form{
        margin-top: 30px;
    }
    
    .form-connexion{
        margin-top: 30px;
    }
    
    .form-monprofil{
        margin-top: 0px;
    }
    
    footer{
        margin-top: 79px;
    }
    
    .footer-accueil{
        margin-top: 79px;
    }
}

/*----------------------------------------------------------1280PX---------------------------------------------------------------------*/
@media screen and (max-width: 1280px){
    /*--------------------------------------CV--------------------------------------------*/

   
}

/*----------------------------------------------------------1200PX---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    /*------------------------------------INDEX--------------------------------------------*/

   
}

/*----------------------------------------------------------1140PX---------------------------------------------------------------------*/
@media screen and (max-width: 1140px){
    /*--------------------------------------CV----------------------------------------------*/
  
}

/*----------------------------------------------------------1090PX---------------------------------------------------------------------*/
@media screen and (max-width: 1090px){
    /*--------------------------------------CV----------------------------------------------*/
  
   
}

/*-----------------------------------------------------------991PX---------------------------------------------------------------------*/
@media screen and (max-width: 991px){
    /*-------------------------------------INDEX--------------------------------------------*/

    
}

/*-----------------------------------------------------------880PX---------------------------------------------------------------------*/
@media screen and (max-width: 880px){
    /*------------------------------------PROJETS--------------------------------------------*/

    
  
}

/*-----------------------------------------------------------830PX---------------------------------------------------------------------*/
@media screen and (max-width: 830px){
    /*--------------------------------------FOOTER----------------------------------------*/
    
    
}

/*-----------------------------------------------------------770PX---------------------------------------------------------------------*/
@media screen and (max-width: 770px){
    /*--------------------------------------INDEX-----------------------------------------*/
 
       

   
}

/*------------------------------------------------------------690PX---------------------------------------------------------------------*/
@media screen and (max-width: 690px){
    /*---------------------------------------CV--------------------------------------------*/
  
  
}

/*------------------------------------------------------------580PX---------------------------------------------------------------------*/
@media screen and (max-width: 580px){
    /*---------------------------------------CV--------------------------------------------*/
    
    
}

/*------------------------------------------------------------470PX---------------------------------------------------------------------*/
@media screen and (max-width: 470px){
    /*---------------------------------------CV--------------------------------------------*/
    
   
}

/*------------------------------------------------------------445PX--------------------------------------------------------------------*/
@media screen and (max-width: 445px){
    /*-------------------------------------INDEX-------------------------------------------*/
   
   
}

/*------------------------------------------------------------420PX--------------------------------------------------------------------*/
@media screen and (max-width: 420px){
    /*---------------------------------------CV--------------------------------------------*/
    .main-index{
        width: 375px;
        height: 511px;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }
     
    
    
}

/*------------------------------------------------------------395PX--------------------------------------------------------------------*/
@media screen and (max-width: 400px){
    /*---------------------------------------CV--------------------------------------------*/
    .h1-cv{
        font-size: 1.5rem;
    
}

/*---------------------------------------BTN--------------------------------------------*/
    .div-btn{
        margin-top: 30px;
    }

/*---------------------------------------CONTACT-----------------------------------------*/
    
   .navbar-form{
        margin-right: 30px;
    }
}
