/*----------------------------------------------------------1540PX---------------------------------------------------------------------*/
@media screen and (max-width: 1540px){
    /*-----------------------------INDEX----------------------------------------*/
    .main-index{
        height: 507px;
    }
        
    /*----------------------------CONTACT---------------------------------------*/
    .img-bg_contact{
        margin-left: 450px;
    }
       
    .article-contact{
        margin-top: 10px;
        
    }
    
    form{
        margin-top: 30px;
    }
    
    /*---------------------------CONNEXION--------------------------------------*/
    .ele-face{
        margin-top: 70px;
    }
    .img-bg_connex-teste{
        margin-top: -10px;
        margin-right: 20px;
    }
       
    .article-connexion{
        left: 50%;
    }
    
    .form-connexion{
        margin-top: 70px;
    }
    
    /*---------------------------INSCRIPTION-------------------------------------*/
    .img-bg_inscrip{
        margin-top: 3px;
        margin-right: 20px;
    }
       
    .article-sinscrire{
        left: 50%;
    }
    
    .form-sinscrire{
        margin-top: 70px;
    }
    
    /*----------------------------ACCUEIL---------------------------------------*/
    .main-accueil{
        height: 507px;
    }
    
    /*--------------------------ENTREPRISES-------------------------------------*/
    .main-entreprises{
        margin-top: 25px;
        width: 1200px;
        height: 600px;
    }
    
    /*----------------------------RECHERCHE-------------------------------------*/
    .main-recherche{
        margin-top: 25px;
        width: 1200px;
        height: 600px;
    }
    
    .form-bar-shearch{
        margin-left: 90px;
    }
    
    .img-bg-shearch{
        margin-top: 20px;
    }
    
    /*----------------------------MON PROFIL-------------------------------------*/
    .main-monprofil{
        margin-left: 110px;
    }
    
    .form-monprofil{
        margin-top: 50px;
    }
    
    .main-monprofil aside{
        margin-top: 60px; 
    }
    
    /*------------------------------BESOINS--------------------------------------*/
    .main-besoins{
        margin-left: 115px;
    }
    
    .main-besoins aside{
        margin-top: 60px; 
    }
    
    .form-besoins{
        margin-top: 40px;
    }
    
    /*-----------------------------PRODUCTIONS------------------------------------*/
    .main-productions{
        margin-left: 115px;
    }
    
    .main-productions aside{
        margin-top: 60px; 
    }
    
    .form-productions{
        margin-top: 40px;
    }
    
    /*-------------------------------DECHETS--------------------------------------*/
    .main-dechets{
        margin-left: 115px;
    }
    
    .main-dechets aside{
        margin-top: 60px; 
    }
    
    .form-dechets{
        margin-top: 40px;
    }
    
    /*--------------------------------FOOTER--------------------------------------*/
    footer{
        margin-top: 79px;
    }
    
    .footer-accueil{
        margin-top: 79px;
    }
}

/*----------------------------------------------------------1280PX---------------------------------------------------------------------*/
@media screen and (max-width: 1280px){
    /*----------------------------------------------------------------------------------*/

   
}

/*----------------------------------------------------------1200PX---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    /*------------------------------------INDEX--------------------------------------------*/

   
}

/*----------------------------------------------------------1140PX---------------------------------------------------------------------*/
@media screen and (max-width: 1140px){
    /*------------------------------------------------------------------------------------*/
  
}

/*----------------------------------------------------------1090PX---------------------------------------------------------------------*/
@media screen and (max-width: 1090px){
    /*------------------------------------------------------------------------------------*/
  
   
}

/*-----------------------------------------------------------991PX---------------------------------------------------------------------*/
@media screen and (max-width: 991px){
    /*-------------------------------------INDEX--------------------------------------------*/

    
}

/*-----------------------------------------------------------880PX---------------------------------------------------------------------*/
@media screen and (max-width: 880px){
    /*--------------------------------------------------------------------------------*/

    
  
}

/*-----------------------------------------------------------830PX---------------------------------------------------------------------*/
@media screen and (max-width: 830px){
    /*--------------------------------------FOOTER----------------------------------------*/
    
    
}

/*-----------------------------------------------------------770PX---------------------------------------------------------------------*/
@media screen and (max-width: 770px){
    /*--------------------------------------INDEX-----------------------------------------*/
 
       

   
}

/*------------------------------------------------------------690PX---------------------------------------------------------------------*/
@media screen and (max-width: 690px){
    /*-----------------------------------------------------------------------------------*/
  
  
}

/*------------------------------------------------------------580PX---------------------------------------------------------------------*/
@media screen and (max-width: 580px){
    /*-----------------------------------------------------------------------------------*/
    
    
}

/*------------------------------------------------------------470PX---------------------------------------------------------------------*/
@media screen and (max-width: 470px){
    /*-----------------------------------------------------------------------------------*/
    
   
}

/*------------------------------------------------------------445PX--------------------------------------------------------------------*/
@media screen and (max-width: 445px){
    /*-------------------------------------INDEX-------------------------------------------*/
   
   
}

/*------------------------------------------------------------420PX--------------------------------------------------------------------*/
@media screen and (max-width: 420px){
    /*-----------------------------------------------------------------------------------*/

}
/*------------------------------------------------------------395PX--------------------------------------------------------------------*/
@media screen and (max-width: 400px){
    /*---------------------------------------NAV--------------------------------------------*/
    .navbar{
        background-color: #086900 !important;
        height: 70px !important;
    }
    
    a{
        font-family: out;
        font-size: 1.2rem !important;
        letter-spacing: 3px;
        color: white;
        text-decoration: none !important;
        text-shadow: 1px 1px 3px black;
    }
    
    .btn-connexion:hover{
        background-color: white;
        color: black;
        text-shadow: 1px 1px 3px gray;
        border-radius: 10px;
    }
    
    li{
        margin-left: 0;
    }
    
    .li-contact{
        margin-left: 0;
    }
    
    .li-contact-page{
        margin-left: 0;
    }
    
    .li-contact-user{
        margin-left: 0;
    }
    
    .li-contactad{
        margin-left: 0;
    }
        
    .btn{
        height: 0;
        background-color: rgb(194, 189, 189);
    }
    
    


/*---------------------------------------BTN--------------------------------------------*/
   

/*---------------------------------------CONTACT-----------------------------------------*/
    
}
