/*----------------------------------------------------------1540PX---------------------------------------------------------------------*/
@media screen and (max-width: 1540px){
    /*-----------------------------INDEX----------------------------------------*/
    .main-index{
        height: 507px;
    }
    
    /*----------------------------ACCUEIL---------------------------------------*/
    .main-accueil{
        height: 507px;
    }
        
    /*----------------------------CONTACT---------------------------------------*/
    .img-bg_contact{
        margin-top: -25px;
        margin-right: 10px;
    }
       
    .article-contact{
        margin-top: 30px;
        left: 50%;
    }
    
    form{
        margin-top: 30px;
    }
    
    /*---------------------------CONNEXION--------------------------------------*/
    .img-bg_connex{
        margin-top: -10px;
        margin-right: 20px;
    }
       
    .article-connexion{
        left: 50%;
    }
    
    .form-connexion{
        margin-top: 70px;
    }
    
    /*---------------------------INSCRIPTION-------------------------------------*/
    .img-bg_inscrip{
        margin-top: 3px;
        margin-right: 20px;
    }
       
    .article-sinscrire{
        left: 50%;
    }
    
    .form-sinscrire{
        margin-top: 70px;
    }
    
    /*----------------------------MON PROFIL-------------------------------------*/
    .main-monprofil{
        margin-left: 110px;
    }
    
    .form-monprofil{
        margin-top: 0px;
    }
    
    .main-monprofil aside{
        margin-top: 10px; 
    }
    
    /*------------------------------BESOINS--------------------------------------*/
    .main-besoins{
        margin-left: 115px;
    }
    
    .main-besoins aside{
        margin-top: 10px; 
    }
    
    .form-besoins{
        margin-top: -10px;
    }
    
    /*-----------------------------PRODUCTIONS------------------------------------*/
    .main-productions{
        margin-left: 115px;
    }
    
    .main-productions aside{
        margin-top: 10px; 
    }
    
    .form-productions{
        margin-top: -10px;
    }
    
    /*-------------------------------DECHETS--------------------------------------*/
    .main-dechets{
        margin-left: 115px;
    }
    
    .main-dechets aside{
        margin-top: 10px; 
    }
    
    .form-dechets{
        margin-top: -10px;
    }
    
    /*--------------------------------FOOTER--------------------------------------*/
    footer{
        margin-top: 79px;
    }
    
    .footer-accueil{
        margin-top: 79px;
    }
}

/*----------------------------------------------------------1280PX---------------------------------------------------------------------*/
@media screen and (max-width: 1280px){
    /*----------------------------------------------------------------------------------*/

   
}

/*----------------------------------------------------------1200PX---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    /*------------------------------------INDEX--------------------------------------------*/

   
}

/*----------------------------------------------------------1140PX---------------------------------------------------------------------*/
@media screen and (max-width: 1140px){
    /*------------------------------------------------------------------------------------*/
  
}

/*----------------------------------------------------------1090PX---------------------------------------------------------------------*/
@media screen and (max-width: 1090px){
    /*------------------------------------------------------------------------------------*/
  
   
}

/*-----------------------------------------------------------991PX---------------------------------------------------------------------*/
@media screen and (max-width: 991px){
    /*-------------------------------------INDEX--------------------------------------------*/

    
}

/*-----------------------------------------------------------880PX---------------------------------------------------------------------*/
@media screen and (max-width: 880px){
    /*--------------------------------------------------------------------------------*/

    
  
}

/*-----------------------------------------------------------830PX---------------------------------------------------------------------*/
@media screen and (max-width: 830px){
    /*--------------------------------------FOOTER----------------------------------------*/
    
    
}

/*-----------------------------------------------------------770PX---------------------------------------------------------------------*/
@media screen and (max-width: 770px){
    /*--------------------------------------INDEX-----------------------------------------*/
 
       

   
}

/*------------------------------------------------------------690PX---------------------------------------------------------------------*/
@media screen and (max-width: 690px){
    /*-----------------------------------------------------------------------------------*/
  
  
}

/*------------------------------------------------------------580PX---------------------------------------------------------------------*/
@media screen and (max-width: 580px){
    /*-----------------------------------------------------------------------------------*/
    
    
}

/*------------------------------------------------------------470PX---------------------------------------------------------------------*/
@media screen and (max-width: 470px){
    /*-----------------------------------------------------------------------------------*/
    
   
}

/*------------------------------------------------------------445PX--------------------------------------------------------------------*/
@media screen and (max-width: 445px){
    /*-------------------------------------INDEX-------------------------------------------*/
   
   
}

/*------------------------------------------------------------420PX--------------------------------------------------------------------*/
@media screen and (max-width: 420px){
    /*-----------------------------------------------------------------------------------*/

}
/*------------------------------------------------------------395PX--------------------------------------------------------------------*/
@media screen and (max-width: 400px){
    /*---------------------------------------CV--------------------------------------------*/
    
    


/*---------------------------------------BTN--------------------------------------------*/
   

/*---------------------------------------CONTACT-----------------------------------------*/
    
}
