/*-----------------------------------------------FONT------------------------------------------------*/
@font-face {
   font-family: rosa;
   src: url(/assets/font/castameresansregular.ttf);
}

@font-face {
    font-family: out;
    src: url(/assets/font/outlander.ttf);
}

/*----------------------------------------------------NAV--------------------------------------------------*/
.navbar{
    background-color: #086900 !important;
    height: 70px !important;
}

a{
    font-family: out;
    font-size: 1.5rem !important;
    letter-spacing: 3px;
    color: white;
    text-decoration: none !important;
    text-shadow: 1px 1px 3px black;
}

.btn-connexion:hover{
    background-color: white;
    color: black;
    text-shadow: 1px 1px 3px gray;
    border-radius: 10px;
}

li{
    margin-left: 10px;
}

.li-contact{
    margin-left: 820px;
}

.li-contact-page{
    margin-left: 810px;
}

.li-contact-user{
    margin-left: 510px;
}

.li-contactad{
    margin-left: 520px;
}
    
.btn{
    height: 34px;
    background-color: rgb(194, 189, 189);
}

/*---------------------------------------------------INDEX--------------------------------------------------*/
.main-index{
    background-image: url("/assets/img/bg-main-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    height: 624px;
}

.article-index{
    margin: 0;
    padding: 0;
    text-align: center;
}

.p-1{
    text-align: center;
    padding: 0 !important;
    font-family: out !important;
    margin-bottom: 0 !important;
    font-size: 3rem;
    color: black;
    text-shadow: 1px 1px 3px white;;
}

.p-3{
    padding: 0 !important;
    font-family: out !important;
    margin-bottom: 0 !important;
    font-size: 3rem;
    color: black;
    text-shadow: 1px 1px 3px white;
    margin-left: 200px;
}

h1{
    font-family: out !important;
    font-size: 5rem;
    color: black;
    text-shadow: 1px 1px 3px white;
    text-align: center;
}

.p-index{
    text-align: center;
    margin-top: 60px;
    font-family: rosa;
    font-size: 2rem;
    color: black;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px white;
}

.p-index1{
    text-align: center;
    font-family: rosa;
    font-size: 2.1rem;
    color: black;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px white;
}
   
/*-------------------------------------------------CONTACT--------------------------------------------------*/

.main-contact{
    display: flex;
    flex-direction: column;
}
   
.article-contact{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.img-bg_contact{
    margin-top: -45px;
    position: absolute;
}

form{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    background-color: #579652 !important;
    width: 600px;
    height: 525px;
}

.article-contact legend{
    color: black;
    text-shadow: 1px 1px 3px black;
}

.article-contact fieldset{
    width: 500px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-contact form{
    border-radius: 2%;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.article-contact input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.article-contact label{
    text-shadow: 1px 1px 3px black;
}

textarea{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.article-contact button{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 10px;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

.article-contact b{
    font-family: rosa;
    color: white;
}

/*-------------------------------------------------SINSCRIRE------------------------------------------------*/
.main-sinscrire{
    display: flex;
    flex-direction: column;
}

.img-bg_inscrip{
    margin-top: 123px;
    margin-right: 20px;
}
   
.article-sinscrire{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

form{
    margin-top: 100px;
    border: solid 1px black;
    background-color: #086900;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 600px;
    height: 525px;
}

.article-sinscrire legend{
    color: black;
    text-shadow: 1px 1px 3px black;
}

.article-sinscrire fieldset{
    width: 500px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-sinscrire form{
    border-radius: 2%;
}

.article-sinscrire input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

textarea{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
}

.article-sinscrire button{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 10px;
    width: 80px;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

b{
    font-family: rosa;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.article-btn-connexion{
    text-align: center;
}

.erreur{
    color: red;
}

/*-------------------------------------------------CONNEXION------------------------------------------------*/
.main-connexion{
    display: flex;
    flex-direction: column;
}
.ele-face{
    position: absolute;
    margin-top: 120px;
    margin-left: 1001px;
    width: 180px;
    height: 228px;
    opacity: 0.2;
}

.ele-gauche{
    position: absolute;
    margin-top: 250px;
    margin-left: 15px;
    width: 200px;
    opacity: 0.3;
}

.img-velo{
    position: absolute;
    width: 200px;
    transform: rotateY(180deg);
    margin-top: 440px;
    margin-left: 80px;
    opacity: 0.4;
}

.img-velo-2{
    position: absolute;
    width: 245px;
    transform: rotateY(180deg);
    margin-top: 420px;
    margin-left: 1000px;
    opacity: 0.4;
}

.img-bg_connex-teste{
    margin-top: 110px;
    margin-right: 20px;
}
   
.article-connexion{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.form-connexion{
    margin-top: 100px;
    border: solid 1px black;
    background-color: #086900;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 600px;
    height: 525px;
}

.article-connexion legend{
    color: black;
    text-shadow: 1px 1px 3px black;
}

.article-connexion fieldset{
    width: 500px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-connexion form{
    border-radius: 2%;
}

.article-connexion input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

textarea{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
}

.article-connexion button{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 10px;
    width: 80px;
}
    

b{
    font-family: rosa;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.style-lien{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.style-lien:hover{
    color: black;
    text-shadow: 1px 1px 3px white;
}

.logo-inscription{
    margin-left: 30px;
    margin-top: 50px;
}

.erreur{
    color: red;
}

/*---------------------------------------------------ACCUEIL--------------------------------------------------*/
h1{
    font-family: king;
    font-size: 5rem;
    color: black;
    text-shadow: 1px 1px 3px grey;
    text-align: center;
}

.main-accueil{
    background-image: url("/assets/img/bg-main-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    height: 624px;
}

.article-accueil{
    margin: 0;
    padding: 0;
    text-align: center;
}

p{ 
    font-family: rosa;
    font-size: 2rem;
}

/*------------------------------------------------ENTREPRISES-----------------------------------------------*/
.main-entreprises{
    border: solid 1px #0b4b05;
    border-radius: 15px;
    background-color: #579652;
    margin-top: 35px;
    width: 1200px;
    height: 800px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

/*-------------------------------------------------RECHERCHE------------------------------------------------*/

h3{
    font-family: rosa;
    font-size: 3rem;
    color: #064200;
    text-shadow: 1px 1px 3px white;
    text-align: center;
}

.main-recherche{
    border: solid 1px #0b4b05;
    border-radius: 15px;
    background-color: #579652;
    margin-top: 35px;
    width: 1200px;
    height: 800px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.form-btn-radio{
    margin-top: 0;
    border: none;
    box-shadow: none;
    align-items: center;
    width: 1150px;
    height: 50px;
}

.article-btn-radio{
    display: flex;
    justify-content: center;
}

.article-btn-radio form{
    display: flex;
    justify-content: space-evenly;
}

.article-btn-radio div label{
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: out;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#radio-besoins, #radio-productions, #radio-dechets, #radio-tous{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    cursor:pointer;
}

input:checked {
    border: 5px solid #0b4b05 !important;
    box-shadow: 2px 1px 1px white;
}

.form-bar-shearch{
    background-color: #0b4b05 !important;
    font-family: rosa;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-left: 90px;
    align-items: center;
    width: 1000px;
    height: 40px;
    margin-top: 30px;
}

.form-bar-shearch input{
    width: 700px;
}

.btn-shearch{
    font-family: rosa;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 2px black !important;
    background-color: #086900 !important;
}

.img-bg-shearch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
    opacity: 0.3;
}

/*-------------------------------------------------MON PROFIL------------------------------------------------*/
.alerte{
    position: absolute;
    margin-left: 550px;
    font-family: rosa;
    font-size: 20px;
    color: red;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
}

.paper-attention{
    position:absolute;
    margin-top: -25px;
    margin-left: 500px;
    height: 80px;
    width: 700px;
    opacity: 10;
}

.p-gauche{
    width: 50px;
    position: absolute;
    margin-left: 500px;
    margin-top: -45px;
    
}

.p-droite{
    width: 50px;
    position: absolute;
    margin-left: 1140px;
    margin-top: -50px;
    
}

.main-monprofil{
    display: flex;
    justify-content: space-around;
    margin-left: 315px;
}

.f-monprofil{
    text-align: center;
    font-family: out !important;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.p-2{
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 2px;
    padding: 0 !important;
    font-family: out !important;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px black;;
}

.main-monprofil aside{
    background-image: url(/assets/img/bg-aside.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    background-color: #086900;
    border: solid 1px black;
    margin-top: 100px;
    width: 400px;
    height: 570px;
    border-radius: 2.5%;
}
   
aside div{
    display: flex;
    justify-content: center;
    background-color: #086900;
    border: solid 1px #0b4b05;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    margin-top: 50px !important;
    width: 230px;
    height: 60px;
}

aside div a{
    align-items: center;
    color: white !important;
}

.ruban-d{
    position: absolute;
    width: 80px;
    margin-top: -9px;
    margin-left: 527px;
    opacity: 0.7;
}

.ruban-g{
    position: absolute;
    width: 70px;
    margin-left: -205px;
    opacity: 0.7;
}

.bande-attention{
    position: absolute;
    height: 80px;
    width: 800px;
    margin-left: -200px;
    opacity: 10;
}

.alerte1{
    position: absolute;
    margin-left: 35px;
    margin-top: 25px;
    width: 730px;
    font-family: rosa;
    font-size: 17px;
    color: red;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
}

.article-monprofil{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form-monprofil{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    border: solid 1px black;
    background-color: #579652;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 100%;
    height: 570px;
    border-radius: 2%;
}


#ndevoieinput{
    margin-top: 23px;
    width: 80px;
}

#tdevoieinput{
    width: 80px;
}

#voienameinput{
    margin-top: 2px;
}

#codepostalinput{
    margin-top: 24px;
    width: 80px;
}

#villeinput{
    width: 80px;
}

#paysinput{
    width: 80px;
}

#logoinput{
    width: 380px;
    height: 27px;
}

#ndesiretinput{
    margin-top: 1px;
}

.article-monprofil fieldset{
    width: 400px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-monprofil form{
    border-radius: 2%;
}

.article-monprofil input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

textarea{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    height: 230px;
    border: solid 1px black;
    border-radius: 2px;
}

.btn-monprofil{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 140px;
    margin-left: 320px;
    width: 150px;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------BESOINS------------------------------------------------*/
.main-besoins{
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
}
   
.article-besoins{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.alerte-info{
    position: absolute;
    margin-left: 530px;
    font-family: rosa;
    font-size: 20px;
    color: red;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
}

.paper-attention-b{
    position:absolute;
    margin-top: -25px;
    margin-left: 500px;
    height: 80px;
    width: 750px;
    opacity: 10;
}

.p-droite-b{
    width: 50px;
    position: absolute;
    margin-left: 1180px;
    margin-top: -50px;
}

.b-monprofil{
    text-align: center;
    font-family: out !important;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.main-besoins aside{
    background-image: url(/assets/img/bg-aside.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    background-color: #086900;
    border: solid 1px black;
    margin-top: 100px;
    width: 400px;
    height: 570px;
    border-radius: 2.5%;
}

aside div a{
    margin-top: 13px;
    color: white !important;
}

.form-besoins{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border: solid 1px black;
    background-color: #579652;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 800px;
    height: 570px;
    border-radius: 2%;
}

.article-besoins fieldset{
    width: 400px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-besoins form{
    border-radius: 2%;
}

.article-besoins label{
    margin-right: 290px;
    width: 160px;
    margin-top: 60px;
}

.article-besoins input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.textarea-besoins{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 500px;
    height: 330px;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 20px;
}

.btn-besoins{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
}

.btn-besoins-suivant{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
}

.div-2-btn{
    display: flex;
    justify-content: space-around;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------PRODUCTIONS------------------------------------------------*/
.main-productions{
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
}
   
.article-productions{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.p-monprofil{
    text-align: center;
    font-family: out !important;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.main-productions aside{
    background-image: url(/assets/img/bg-aside.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    background-color: #086900;
    border: solid 1px black;
    margin-top: 100px;
    width: 400px;
    height: 570px;
    border-radius: 2.5%;
}

aside div a{
    margin-top: 13px;
    color: white !important;
}

.form-productions{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border: solid 1px black;
    background-color: #579652;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 800px;
    height: 570px;
    border-radius: 2%;
}

.article-productions fieldset{
    width: 400px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-productions form{
    border-radius: 2%;
}

.article-productions label{
    margin-right: 290px;
    width: 210px;
    margin-top: 60px;
}

.article-productions input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.textarea-productions{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 500px;
    height: 330px;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 20px;
}

.btn-productions{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
}

.btn-productions-suivant{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------DECHETS------------------------------------------------*/
.main-dechets{
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
}
   
.article-dechets{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.d-monprofil{
    text-align: center;
    font-family: out !important;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.main-dechets aside{
    background-image: url(/assets/img/bg-aside.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    background-color: #086900;
    border: solid 1px black;
    margin-top: 100px;
    width: 400px;
    height: 570px;
    border-radius: 2.5%;
}

aside div a{
    margin-top: 13px;
    color: white !important;
}

.form-dechets{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border: solid 1px black;
    background-color: #579652;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
    width: 800px;
    height: 570px;
    border-radius: 2%;
}

.article-dechets fieldset{
    width: 400px;
    color: black;
    font-weight:100;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.article-dechets form{
    border-radius: 2%;
}

.article-dechets label{
    margin-right: 290px;
    width: 160px;
    margin-top: 60px;
}

.article-dechets input{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 95%;
    border: solid 1px black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(92, 91, 91);
}

.textarea-dechets{
    font-family: rosa;
    font-size: 1rem;
    color: black;
    width: 500px;
    height: 330px;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 20px;
}

.btn-dechets{
    color: white;
    background-color: #086900;
    text-align: center;
    border: solid 1px #0b4b05;
    box-shadow: 2px 2px 4px black;
    border-radius: 2px;
    margin-top: 30px;
    margin-right: 150px;
    width: 150px;
}
    
.span-affiche-message{
    font-family: rosa;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------FOOTER--------------------------------------------------*/
footer{
    margin-top: 178px;
    font-family: out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #086900;
    height: 65px;
    text-shadow: 1px 1px 3px black;
}

.footer-accueil{
    margin-top: 178px;
}

h2{
    font-size: 1.5rem;
    color: white;
}

    
/*-------------------------------------------------THE END--------------------------------------------------*/

