{#{% block modal %}
	{% include "_modalDeleteFiche.html.twig" %}
{% endblock %}#}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
         <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel=" stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"/>
        <link rel="shortcut icon" type="image/png" href="/assets/img/logo1.png"/>
        <link rel="stylesheet" href="/assets/stylesheets/style.css" />
        <link rel="stylesheet" href="/assets/stylesheets/responsive.css" />
        <title>Eco</title>
    </head>

{% block main %}
	<div class="card-cie">
        <img class="logo-vide" src="/assets/img/logo-vide.png" alt="logo">
                <p class="p-card">Raison sociale:</p>
                <p class="p-card">Adresse:</p>
                <p class="p-card">N° tel:</p>
                <p class="p-card">Besoins:</p>
                <p class="p-card">Productions:</p>
                <p class="p-card">Déchets:</p>
                <a class="btn-fiche" href="#">-Voir fiche complète-</a>
	</div>
{% endblock %}
