{% extends "./index.html.twig" %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="nav-logo navbar-brand" href="#">
                <img src="/assets/img/logo2.png" alt="logo.eco" width="60" height="60" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="div-navbar collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/accueil">Retour a l'accueil</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right text-end">
                  <li><a class="btn-connexion" href="/deconnexion"><span class="bi bi-person-fill"></span> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
<main class="main-monprofil container">
	
		<article class="article-monprofil">
             <form class="form-monprofil" id="sinscrire" action="/sinscrire" method="post">
                <fieldset>
                    <legend><b> Inscription </b></legend>
                    <label for="nameinput"><b> Raison Social </b></label>
                    <input type="text" name="ciename" id="cieinput" placeholder="Ecole-Ri7" />
                    <label for="nameinput"><b> Votre nom </b></label>
                    <input type="text" name="name" id="nameinput" placeholder="Dupont" />
                    <label for="nameinput"><b> Votre prénom </b></label>
                    <input type="text" name="firstname" id="fisrtnameinput" placeholder="Jean" />
                    <label for="nameinput"><b> Fonction </b></label>
                    <input type="text" name="fonctionname" id="fonctioninput" placeholder="Directeur" />
                    <label for="emailinput"><b> Votre e-mail </b></label>
                    <input type="email" name="email" id="emailinput" placeholder="Contact@exemple.com" />
                    <label for="nameinput"><b> Mot de passe </b></label>
                    <input type="password" name="password" id="mdpinput" placeholder="***" />
                    <label for="nameinput"><b> Confirmation Mdp </b></label>
                    <input type="password" name="confirmpassword" id="confirmdpinput" placeholder="***" />
                    
                    <button class="btn-monprofil"><b> Valider </b></button>
                </fieldset>
                
                <fieldset>
                    <legend><b> Adresse </b></legend>
                    <label for="nameinput"><b> N° de voie </b></label>
                    <input type="text" name="ndevoie" id="ndevoieinput" placeholder="155" />
                    <label for="nameinput"><b> Type de voie </b></label>
                    <input type="text" name="tdevoie" id="tdevoieinput" placeholder="Rue, Av, Bld" />
                    <br>
                    <label for="nameinput"><b> Nom de voie </b></label>
                    <input type="text" name="voiename" id="voienameinput" placeholder="du Dirigeable" />
                    <label for="nameinput"><b> Complement d'adresse (facultatif) </b></label>
                    <input type="text" name="complementad" id="complementadninput" placeholder="zone industrielle" />
                    <label for="emailinput"><b> Code Postal </b></label>
                    <input type="text" name="codepostal" id="codepostalinput" placeholder="13400" />
                    <label for="nameinput"><b> Ville </b></label>
                    <input type="text" name="ville" id="villeinput" placeholder="Aubagne" />
                    <label for="nameinput"><b> Pays </b></label>
                    <input type="text" name="pays" id="paysinput" placeholder="France" />
                    <br>
                    <label for="emailinput"><b> N° de siret </b></label>
                    <input type="text" name="ndesiret" id="ndesiretinput" placeholder="898 323 365 00012" />
                    <label for="nameinput"><b> Téléphone </b></label>
                    <input type="text" name="ndetel" id="ndetelinput" placeholder="09 70 44 99 61" />
                    <label for="nameinput"><b> Ligne direct (facultatif) </b></label>
                    <input type="text" name="ldirect" id="ldirectinput" placeholder="09 70 44 99 61" />
                    
                    
                    <div class = "error">
                        {% for error in errors %}
                            <span class="erreur">{{error}}</span>
                        {% endfor %}
                    </div>
                    
                    <button class="btn-monprofil"><b>Valider => Suivant</b></button>
                </fieldset>
            </form>
        </article>

</main>
{% endblock %}

{% block footer %}
{% endblock %}