{% extends "./index.html.twig" %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="nav-logo navbar-brand" href="#">
                <img src="/assets/img/logo2.png" alt="logo.eco" width="60" height="60" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="div-navbar collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactad">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right text-end">
                  <li><a class="btn-connexion" href="/connexion"><span class="bi bi-box-arrow-in-right"></span> Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <main class="main-sinscrire container">
    
	    <article class="article-sinscrire">
	        <form id="sinscrire" action="/sinscrire" method="post">
                <fieldset>
                    <legend><b> Inscription </b></legend>
                    <label for="nameinput"><b> Raison Social </b></label>
                    <input type="text" name="ciename" id="cieinput" placeholder="Ecole-Ri7" />
                    <label for="nameinput"><b> Votre nom </b></label>
                    <input type="text" name="name" id="nameinput" placeholder="Dupont" />
                    <label for="nameinput"><b> Votre prénom </b></label>
                    <input type="text" name="firstname" id="fisrtnameinput" placeholder="Jean" />
                    <label for="nameinput"><b> Fonction </b></label>
                    <input type="text" name="fonctionname" id="fonctioninput" placeholder="Directeur" />
                    <label for="emailinput"><b> Votre e-mail </b></label>
                    <input type="email" name="email" id="emailinput" placeholder="Contact@exemple.com" />
                    <label for="nameinput"><b> Mot de passe </b></label>
                    <input type="password" name="password" id="mdpinput" placeholder="***" />
                    <label for="nameinput"><b> Confirmation Mdp </b></label>
                    <input type="password" name="confirmpassword" id="confirmdpinput" placeholder="***" />
                    <br />
                    
                    <div class = "error">
                        {% for error in errors %}
                            <span class="erreur">{{error}}</span>
                        {% endfor %}
                    </div>
                    
                    <button><b>Valider</b></button>
                </fieldset>
            </form>
        </article>     
    </main>
{% endblock %}

{% block footer %}
{% endblock %}